.custom-table-container {
  max-width: 80%;
  max-height: 65%;
  overflow-y: auto;
  margin: 0 auto;
  position: relative;
}

.custom-table {
  width: 100%;
  border: 2px solid rgb(17, 66, 213);
}

.search {
  margin-left: 10.1%;
  padding-top: 1.5%;
}

mat-form-field {
  width: 30%;
}

.paginator-container {
  width: 80.9%;
  position: relative;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  padding-top: 0;
}

/* Remova o estilo mat-paginator */
body {
  background: linear-gradient(135deg, #00098b, #4175c4);
}



