.container {
  position: relative;

}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa; /* Cor de fundo, ajuste conforme necessário */
  padding: 10px 0; /* Espaçamento interno, ajuste conforme necessário */
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra na parte inferior */
}
