
.custom-table-container {
  max-width: 80%;
  max-height: 60%;
  overflow-y: auto;
  margin: 0 auto;
  position: relative;
  height: 730px;
}

.custom-table {
  width: 80%;
  max-width: 80%;
  border: 2px solid rgb(17, 66, 213);
  border-radius: 5px;
  position: relative;
  overflow-y: auto;

}


mat-cell {
  padding: 10px;
  text-align: center;
  background-color: #fff;
  color: #00098b;
  text-align: center;
  vertical-align: middle;
}


mat-header-cell {
  background-color: #00098b;
  color: #2611e3;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

mat-form-field {
  width: 30%;
}


button {
  background-color: #3f6be7;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0d1193;
}


h2 {
  background-color: #00098b;
  color: #fff;
  padding: 10px;
}

body {

  background: linear-gradient(135deg, #00098b, #4175c4);

}

html, body {
  height: 100%;
}

.search {
  margin-left: 10.1%;
  padding-top: 1.5%;
}

.page-title {
  text-align: center;
  margin-top: 20px;
}


