
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(135deg, #00098b, #4175c4);
}


.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 60%;
}


.form-container {
  flex-grow: 1;
  padding: 20px;
  background: linear-gradient(135deg, #00098b, #4175c4);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  flex-direction: column;
  padding: 20px;
  margin-top: 100px;
}


mat-form-field {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}

.convert-button {
  width: 100%;
  max-width: 250px;
  margin: 10px auto 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.conversion-result {
  background-color: #fff;
  color: #00098b;
  border: 2px solid rgb(17, 66, 213);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 10px auto;
  max-width: 500px;
  margin-bottom: 5%;
}








