body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #00098b, #4175c4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background: linear-gradient(135deg, #001664, #27279a);
  border-radius: 20px;
  padding: 20px;
  color: #fff;
  display: flex;
  max-width: 800px;
}

.content {
  display: flex;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.left {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

