<!DOCTYPE html>
<html>
  <body>
    <div class="background">
      <div class="content">
        <div class="left">
          <div class="title">
            <h1>ICurrency</h1>
          </div>
          <p>This application allows you to convert values between different currencies.</p>
          <p>It's easy and quick. Simply select the currencies, enter the amount, and get the conversion.</p>
        </div>
        <div class="right">
          <img class="imagem" src="assets/img/img3.avif">
        </div>
      </div>
    </div>
  </body>
</html>


